body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

img.placeholder-hero {
    width: auto;
    height: auto;
}

button {
    background-color: #3882F6;
    font-size: 24px;
    font-weight: 500;
    padding: 12px 48px;
    border-radius: 10px;
    border-style: none;
}

div.logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    display: flex;  
    justify-content: space-between;
    margin-bottom: 48px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 24px 300px 100px 300px;
    color: #E5E7EB;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

.infos-hero {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.random-infos {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 48px 0 48px 0;
}

div h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.random-content {
    display: flex;
    gap: 48px;
}

.card {
    width: 200px;
    height: auto;
}

.placehold-card {
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    padding: 48px 0 48px 0;
}

.quote-content {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    height: auto;
}

.quote-content .quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-creator {
    text-align: end;
    font-size: 24px;
    font-weight: 900;
}

.call-to-action-article {
    display: flex;
    justify-content: space-around;
    padding: 48px 0 48px 0;
}

.call-to-action-container {
    display: flex;
    background-color: #3882F6;
    padding: 48px;
    color: #E5E7EB;
    justify-content: space-between;
    border-radius: 20px;
    width: 1000px;
}

.call-to-action-container h2,
.call-to-action-container p {
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

.call-to-action-container button {
    border: #E5E7EB 3px solid;
}

.footer, 
.footer h2 {
    color: #E5E7EB;
    font-size: 24px;
    font-weight: 900;
    background-color: #1F2937;
    padding: 24px 0 24px 0;
    text-align: center;
    justify-content: center;
}